  @font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

    body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7f7f7f;
    background: #fff;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: #eb633d;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #eb633d;
    outline: none;
  }

  p {

    font-family: "Vollkorn";
    color: #312e32;

    font-size: 19.2px;
    line-height: 1.6em;
    vertical-align: baseline;

    letter-spacing: 0.2px;
    word-spacing: 0px;

    /*margin-bottom: 42px;*/

  }

  h1, h2, h4, h5, h6, figure {

    font-family: "Raleway", Arial, sans-serif;
    font-weight: 800;
    color: #312e32;
    text-transform: uppercase;

    font-size: 19.2px;
    line-height: 1.6em;
    vertical-align: baseline;

    letter-spacing: 0.2px;
    word-spacing: 0px;

    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 0px;

  }

h3 {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 800;
  color: #312e32;
}

  q {
    font-family: "Vollkorn";
    font-style: italic;
    color: #312e32;

    font-size: 21.6px;
    line-height: 1.6em;
    vertical-align: baseline;

    letter-spacing: 0.2px;
    word-spacing: 0px;

    margin-bottom: 35px;

  }

  q:before {
    content: "\f10d";
    content: no-open-quote;
    content: no-close-quote;
  }

  #special {
    font-size: 62px;
    line-height: 1.3em;
  }

    /*// Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
      p, h1, h2, h3, h4, h5, h6, figure {

        font-size: 20.8px

      }
    }

    /*// Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
    p, h1, h2, h3, h4, h5, h6, figure {

      font-size: 22.4px
    }
    }

    /*// Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
      q {

        font-size: 23.4px

      }
    }

    /*// Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
    q {
      font-size: 25.2px
    }
    }


  ::-webkit-selection {
    color: #fff;
    background: #eb633d;
  }

  ::-moz-selection {
    color: #fff;
    background: #eb633d;
  }

  ::selection {
    color: #fff;
    background: #eb633d;
  }

  img {
    margin-bottom: 70px;
    margin-top: 70px;
    max-width: 751px;
    }



/*////////////////// COVERS ///////////////////*/

.mauro-cover {
  margin: 0 auto;
  /*
   * Using border-box sizing, to ensure the box
   * is exactly 80vw wide, no matter how much padding
   * or border.
   */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*padding: 10px;*/
  /*
   * Modern browsers.
   */
  height: 100vh;
  /* IE9 and 10 */
  content: 'viewport-units-buggyfill;'  'width: 100vh;' 'height: 100vh;' ;
}


.mauro-cover-container {
  margin: 0 auto;
  /*
   * Using border-box sizing, to ensure the box
   * is exactly 80vw wide, no matter how much padding
   * or border.
   */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*padding: 10px;*/
  /*
   * Modern browsers.
   */
  max-width: 842px;
  height: 50vh;
  /* IE9 and 10 */
  content: 'viewport-units-buggyfill;'  'width: 50vh;' 'height: 50vh;' ;

}

.mauro-cover-container-2 {
  margin: 0 auto;
  /*
   * Using border-box sizing, to ensure the box
   * is exactly 80vw wide, no matter how much padding
   * or border.
   */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*padding: 10px;*/
  /*
   * Modern browsers.
   */
  max-width: 842px;
  height: 52vh;
  /* IE9 and 10 */
  content: 'viewport-units-buggyfill;'  'width: 50vh;' 'height: 50vh;' ;

}

.mauro-cover-container-3 {
  margin: 0 auto;
  /*
   * Using border-box sizing, to ensure the box
   * is exactly 80vw wide, no matter how much padding
   * or border.
   */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*padding: 10px;*/
  /*
   * Modern browsers.
   */
  width: 100%;
  max-height: 50px;
  position: absolute;
  bottom: 0;
  margin: auto;
  margin-bottom: 20px;
  margin-left: -15px;

  /* IE9 and 10 */
  content: 'viewport-units-buggyfill;'  'width: 50vh;' 'height: 50vh;' ;
}

.animation {
  animation-name: appear;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation: appear 4s 1; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease;
}


@-moz-keyframes appear { /* older versions of FF */
  from {opacity: 0;}
  to {opacity: 1;}
  }

@-webkit-keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

  .cover-bottom {
  -moz-box-shadow: 0px 0px 20px 1px rgba(40, 40, 40, 0.2);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(40, 40, 40, 0.2);
  box-shadow: 0px 0px 20px 1px rgba(40, 40, 40, 0.2);
  opacity: 0.9;
  }

  .cover-bottom:hover {
  opacity: 1;
  }

  section:nth-of-type(1) {

    background: #322e32; /* fallback for old browsers */
    background: -moz-radial-gradient(circle cover, #322e32 0%, #000 100%);
    background: -webkit-radial-gradient(circle cover, #322e32 0%,#191819 100%);
    background: radial-gradient(circle, #322e32 0%,#191819 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322e32', endColorstr='#191819',GradientType=1 );
    z-index: -2;

  }

  .mauro-cover-mm-title {
    background: url(../images/cover-mm-title-2.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .mauro-cover-mm-bg-all {

    background: url(../images/cover-mm-bg.png) bottom center;
    background-repeat: repeat-y;

    position: absolute;
    height:100%;
    width:100%;
    bottom: 0;
    right: 0;
    padding: 0;

    opacity: 0.35;

    z-index: -2;

  }

  .mauro-cover-mm-project {
    text-align: center;
    padding-left: 0px;
  }

  .cover-scroll {
    color: white;
    font-weight: 600;
    font-size: 15px;
  }

  section:nth-of-type(2) {

    background: #00a5a5; /* Old browsers */
    background: -moz-radial-gradient(bottom, circle cover, #00a5a5 0%, #19327f 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(bottom, circle cover, #00a5a5 0%,#19327f 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(circle at bottom, #00a5a5 0%,#19327f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5a5', endColorstr='#19327f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    z-index: -2;

  }

  .mauro-cover-ll-bg {

    background: #00a5a5; /* Old browsers */
    background: -moz-radial-gradient(bottom, circle cover, #00a5a5 0%, #19327f 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(bottom, circle cover, #00a5a5 0%,#19327f 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(circle at bottom, #00a5a5 0%,#19327f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5a5', endColorstr='#19327f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  position: relative;
  z-index: -3;

  }

  .mauro-cover-LL-title {

    background: url(../images/cover-LL-title.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-LL-title-bottom {

    background: url(../images/cover-LL-title-bottom.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }


  .mauro-cover-LL-project {

    background: url(../images/cover-LL-project.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-LL-bg-bottom {

      background-image: url(../images/LL-pattern.png);
      background-repeat: repeat-x;
      background-size: contain;
      min-height: 40px;

      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;

      opacity: 0.1;

      z-index: -1;

  }

  .mauro-cover-LL-bg-all {

    background: url(../images/LL-pattern-2.png) repeat repeat;

    position: absolute;
    height:100%;
    width:100%;
    bottom: 0;
    right: 0;
    padding: 0;

    z-index: -2;

  }

  section:nth-of-type(3)  {

    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0%, #234e79 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000000 0%,#234e79 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000000 0%,#234e79 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#234e79',GradientType=0 ); /* IE6-9 */

    z-index: -2;

  }

  .mauro-cover-nadir-bg {

    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0%, #234e79 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000000 0%,#234e79 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000000 0%,#234e79 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#234e79',GradientType=0 ); /* IE6-9 */

  position: relative;
  z-index: -3;

  }

  .mauro-cover-nadir-title {

    background: url(../images/cover-nadir-title-bottom.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-nadir-bottom {

    background: url(../images/cover-nadir-title.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-nadir-project {

    background: url(../images/cover-nadir-project.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-nadir-bg-all {

    background: url(../images/cover-nadir-bg.png) repeat repeat;

    position: absolute;
    height:100%;
    width:100%;
    bottom: 0;
    right: 0;
    padding: 0;

    opacity: 0.4;

    z-index: -2;

  }


  section:nth-of-type(4) {

  background: #d5ff83;
  background: -moz-linear-gradient(45deg,  #d5ff83 0%, #ffc56d 100%);
  background: -webkit-linear-gradient(45deg,  #d5ff83 0%,#ffc56d 100%);
  background: linear-gradient(45deg,  #d5ff83 0%,#ffc56d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ff83', endColorstr='#ffc56d',GradientType=1 );

    z-index: -2;

  }

  .mauro-cover-as-bg {

    background: #d5ff83;
    background: -moz-linear-gradient(45deg,  #d5ff83 0%, #ffc56d 100%);
    background: -webkit-linear-gradient(45deg,  #d5ff83 0%,#ffc56d 100%);
    background: linear-gradient(45deg,  #d5ff83 0%,#ffc56d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ff83', endColorstr='#ffc56d',GradientType=1 );

  position: relative;
  z-index: -3;

  }

  .mauro-cover-as-title {

    background: url(../images/cover-as-title.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-as-title-bottom {

    background: url(../images/cover-as-title.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-as-project {

    background: url(../images/cover-as-project.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-as-bg-all {

    background: url(../images/cover-as-bg.png) repeat repeat;

    position: absolute;
    height:100%;
    width:100%;
    bottom: 0;
    right: 0;
    padding: 0;

    opacity: 0.4;

    z-index: -2;

  }




  section:nth-of-type(5) {

  background: #eb5c3d;
  background: -moz-linear-gradient(top,  #eb5c3d 0%, #eb5562 100%);
  background: -webkit-linear-gradient(top,  #eb5c3d 0%,#eb5562 100%);
  background: linear-gradient(to bottom,  #eb5c3d 0%,#eb5562 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb5c3d', endColorstr='#eb5562',GradientType=0 );


  z-index: -4;

  }

  .mauro-cover-coloe-bg {

  background:  #eb5c3d;
  background: -moz-linear-gradient(top,  #eb5c3d 0%, #eb5562 100%);
  background: -webkit-linear-gradient(top,  #eb5c3d 0%,#eb5562 100%);
  background: linear-gradient(to bottom,  #eb5c3d 0%,#eb5562 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb5c3d', endColorstr='#eb5562',GradientType=0 );

  position: relative;
  z-index: -3;

  }

  .mauro-cover-coloe-title {

    background: url(../images/cover-coloe-title.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;



  }

  .mauro-cover-coloe-project {

    background: url(../images/cover-coloe-project.png) no-repeat bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

  }

  .mauro-cover-coloe-bg-all {

    background: url(../images/cover-coloe-bg.png) center center;
    background-repeat: repeat-y;

    position: absolute;
    height:100%;
    width:100%;
    bottom: 0;
    right: 0;
    padding: 0;

    opacity: 0.4;

    z-index: -2;

  }


/*////////////////// stories ///////////////////*/


.mauro-content {
  margin-top: 42px;
}

.story-coloe-bg{
  background-color: #fbefe2;
  z-index: -100;
}

.story-as-bg{
  background-color: #000;
  z-index: -100;
  color: white;
}

.story-as {
  color: white !important;
}

#as-img {
  margin-top:15px;
  margin-bottom:15px;
}

.story-nadir-bg {
  /*background-color: #f7fbf6;*/
  background-color: #f3f5f6;

}

#nadir-links {
  color: #279fa7;
  text-decoration: none;
}

#nadir-img {
  margin: 0;
}

  /* home scrolling

  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    opacity: 0.5;
  }

  #fp-nav ul li a.active span,
  .fp-slidesNav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li:hover a.active span {
    opacity: 1;
  }


  /* texting new menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .gtco-nav {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1001;
    /*background: #fff;
    webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);*/
  }
  /*@media screen and (max-width: 1px) {
    .gtco-nav {
      padding: 20px 0;
    }
  }*/

  @media screen and (max-width: 999999999px) {
    .gtco-nav .menu-1, .gtco-nav .menu-2 {
      display: none;
    }
  }

  .gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after {
  background: white;
}
.gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.gtco-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}
.gtco-nav-toggle i::before, .gtco-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.gtco-nav-toggle.gtco-nav-white > i {
  color: #fff;
  background: #fff;
}
.gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after {
  background: #fff;
}

.gtco-nav-toggle i::before {
  top: -7px;
}

.gtco-nav-toggle i::after {
  bottom: -7px;
}

.gtco-nav-toggle:hover i::before {
  top: -10px;
}

.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

.gtco-nav-toggle.active i {
  background: transparent;
}

.gtco-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.gtco-nav-toggle {
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 10000px) {
  .gtco-nav-toggle {
    display: block;
  }
}

#gtco-offcanvas {
  position: absolute;
  position: fixed;
  z-index: 1901;
  width: 270px;

  background: black; /* fallback for old browsers */
  opacity: 0.9;

  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 10000px) {
  #gtco-offcanvas {
    display: block;
  }
}


.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#gtco-offcanvas a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255,1);
}
#gtco-offcanvas ul {
  margin-top: 15px;
  padding: 0;
  margin: 0;
}

#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: -49px;
  margin-left: -10px;
}

#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 20px;
}

.logo{
  font-size: 28px;
  font-weight: 700;
  color: white;
  margin-top: 49px;
}



#gtco-offcanvas ul li a.active{
  color: white;
}

.gtco-logo{
  color: white;
}

#gtco-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* texting new menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
  padding: 0px;

}
