  body {
      background: #fff;
      height: 100%;
      font-family: "Raleway", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #848995;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  h1 {
      font-weight: 100;
      font-size: 36px;
      line-height: 40px;
      color: #242a37;
      /*margin-bottom: 28px;*/
  }

  q {
      line-height: 30px;
  }

  q {
      font-style: italic;
      color: white;
  }

  q:before {
      content: "\f10d";
      content: no-open-quote;
      content: no-close-quote;
  }

  a {
      color: #eb633d;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
  }

  a:hover, a:active, a:focus {
      opacity: 0.7;
      outline: none;
      text-decoration: none;
  }

   ::-webkit-selection {
      color: #fff;
      background-color: #242a37;
  }

   ::-moz-selection {
      color: #fff;
      background-color: #242a37;
  }

   ::selection {
      color: #fff;
      background-color: #242a37;
  }

  .content-wrap {
      margin-bottom: 20vh;
  }
  /* bootstrap @media tablet:750px	leptop:970px	desktop:1170px*/

  @media (min-width: 750px) {
      /*// Medium devices (tablets, 750px and up)*/
      p, q {
          font-size: 18px;
          line-height: 38px;
      }
  }

  @media (min-width: 750px) {
      /*// Medium devices (tablets, 750px and up)*/
      h1 {
          font-size: 64px;
          /*line-height: 40px;*/
      }
  }

  @media (min-width: 970px) {
      /*// Large devices (desktops, 970px and up)*/
      q {
          font-size: 24px;
          line-height: 36px;
      }
  }
  /* menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .button_container {
      position: fixed;
      top: 5%;
      right: 2%;
      height: 27px;
      width: 35px;
      cursor: pointer;
      z-index: 100;
      -webkit-transition: opacity .25s ease;
      transition: opacity .25s ease;
  }

  .button_container:hover {
      opacity: .7;
  }

  .button_container.active .top {
      -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: #242a37;
  }

  .button_container.active .middle {
      opacity: 0;
      background: #FFF;
  }

  .button_container.active .bottom {
      -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: #242a37;
  }

  .button_container span {
      background: #45d1ff;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all .35s ease;
      transition: all .35s ease;
      cursor: pointer;
  }

  .button_container span:nth-of-type(2) {
      top: 11px;
  }

  .button_container span:nth-of-type(3) {
      top: 22px;
  }

  .overlay {
      position: fixed;
      background: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity .35s, visibility .35s, height .35s;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden;
      z-index: 10;
  }

  .overlay.open {
      opacity: 0.95;
      visibility: visible;
      height: 100%;
  }

  .overlay.open li {
      -webkit-animation: fadeInRight .5s ease forwards;
      animation: fadeInRight .5s ease forwards;
      -webkit-animation-delay: .35s;
      animation-delay: .35s;
  }

  .overlay.open li:nth-of-type(2) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s;
  }

  .overlay.open li:nth-of-type(3) {
      -webkit-animation-delay: .45s;
      animation-delay: .45s;
  }

  .overlay.open li:nth-of-type(4) {
      -webkit-animation-delay: .50s;
      animation-delay: .50s;
  }

  .overlay nav {
      position: relative;
      height: 34vh;
      top: 45%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 10vh;
      font-weight: 700;
      text-align: center;
  }

  .overlay ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;
  }

  .overlay ul li {
      display: block;
      /*height: 25%;*/
      height: calc(100% / 3);
      min-height: 50px;
      position: relative;
      opacity: 0;
  }

  .overlay ul li a {
      display: block;
      position: relative;
      color: #242a37;
      overflow: hidden;
  }

  .socials-menu {
      width: 100%;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 30px;
      text-align: center;
  }

  .socials-menu a {
      display: inline-block;
      width: 40px;
      font-size: 25px;
      color: #242a37;
      text-align: center;
      line-height: 35px;
  }

  @-webkit-keyframes fadeInRight {
      0% {
          opacity: 0;
          left: 20%;
      }
      100% {
          opacity: 1;
          left: 0;
      }
  }

  @keyframes fadeInRight {
      0% {
          opacity: 0;
          left: 20%;
      }
      100% {
          opacity: 1;
          left: 0;
      }
  }
  /* loader
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: #fff;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }

  /* covers
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .cover2 {
      margin: 0 auto;
      /* Using border-box sizing, to ensure the box */
      -webkit-box-sizing: border-box;
      /* Modern browsers.*/
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 100vh;
      content: 'viewport-units-buggyfill;' 'width: 100vh;' 'height: 100vh;';
      /* IE9 and 10 */
  }

  .cover {
      /*padding-top: 300px;*/
      /*padding-bottom: 70px;*/
      height: 488px;
  }

  .ll-cover-image {
    background: url(../images/LiberLiber-cover.png) no-repeat bottom center;
    height: 100%;
    opacity: 0.04;
    border-style: solid;
  }

  .ll-cover-color {
      background: #45d1ff; /* Old browsers */
      background: -moz-linear-gradient(top right, #45d1ff 0%, #0090ff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top right, #45d1ff 0%, #0090ff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(top right, #45d1ff 0%, #0090ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45d1ff', endColorstr='#0090ff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      position: relative;
      /*z-index: -3;*/
  }

  .ll-pattern {
      background: url(../images/LL-bg-pattern-5.png) repeat repeat;
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 0;
      opacity: 0.06;
      /*z-index: -2;*/
  }

  .ll-title {
      background: url(../images/proof-01.png) no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
  }

  .ll-project {
      background: url(../images/proof-02.png) no-repeat bottom center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
  }

  .ll-bg-top {
      background-image: url(../images/cover-LL-pattern.png);
      background-repeat: repeat-x;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      min-height: 40px;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      opacity: 0.1;
      z-index: -1;
  }

  .ll-bg-bottom {
      background-image: url(../images/cover-LL-pattern.png);
      background-repeat: repeat-x;
      background-size: contain;
      min-height: 40px;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      opacity: 0.1;
      /*z-index: -1;*/
  }

  .as-bg {
      background: #d5ff83;
      /* Old browsers */
      background: -moz-linear-gradient(top right, #d5ff83 0%, #ffc56d 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top right, #d5ff83 0%, #ffc56d 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(top right, #d5ff83 0%, #ffc56d 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ff83', endColorstr='#ffc56d', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
      position: relative;
      /*z-index: -3;*/
  }

  .as-pattern {
      background: url(../images/cover-as-bg.png) repeat repeat;
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 0;
      opacity: 0.4;
      /*z-index: -2;*/
  }
  /* stories
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .quote {
      padding-top: 80px;
      padding-bottom: 80px;
  }

  #ll-link {
      color: #00aeef;
  }

  .story-nadir {
      background-color: #f3f5f6;
  }

  #nadir-links {
      color: #279fa7;
  }

  #nadir-img {
      margin: 0;
  }
  /*.story-as-p {
      color: white !important;
  }*/

  .story-as {
      color: white !important;
      background-color: #000;
      z-index: -100;
      color: white;
  }

  #as-img {
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .story-coloe {
      background-color: #fbefe2;
      z-index: -100;
  }

/* footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
    position: relative;

    /* Using border-box sizing, to ensure the box */
    -webkit-box-sizing: border-box;
    /* Modern browsers.*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 100vh;
    content: 'viewport-units-buggyfill;' 'width: 100vh;' 'height: 100vh;';
    /* IE9 and 10 */

    z-index: 0;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;

    margin: 0 auto;
    /* Using border-box sizing, to ensure the box */
    -webkit-box-sizing: border-box;
    /* Modern browsers.*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    content: 'viewport-units-buggyfill;' 'width: 100vh;' 'height: 100vh;';
    /* IE9 and 10 */

    /*background: #7dc6ff;*/
    bottom:0;
    left: 0px;
    z-index: -1;
}

/* scroll reveal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sr .demo .block {
  visibility: hidden;
}

.sr .fooReveal {
  visibility: hidden;
}

/* to delete
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .footer-next-project {
      height: 45vh;
      max-height: 400px;
  }

  .no-padding {
      padding: 0px;
  }

  .footer-as-title {
      background: url(../images/footer-proof-1.png) no-repeat bottom left;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      position: absolute;
      height: 100%;
      width: 100%;
  }

  .footer-as-project {
      background: url(../images/footer-proof-2.png) no-repeat bottom right;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
  }

  a:hover>div .footer-as-project {
      opacity: 1;
      -webkit-transition: opacity .6s, visibility .6s, height .6s;
      transition: opacity .6s, visibility .6s, height .6s;
  }

  @media (max-width: 1100px) {
      .footer-as-title {
          background-position: center;
      }
      .footer-as-project {
          opacity: 0.1;
          background-position: bottom center;
      }
      a:hover>div .footer-as-project {
          opacity: 0.1;
      }
  }

  .footer-distributed {
      width: 100%;
      height: auto;
      text-align: left;
      padding: 20px 20px 20px 30px;
  }

  .footer-distributed .footer-left p {
      color: #242a37;
      font-weight: 600;
      margin: 0;
  }

  .footer-distributed .footer-left b {
      color: #848995;
      margin-right: 15px;
  }

  .footer-distributed .footer-left a {
      color: #242a37;
      display: inline-block;
      line-height: 1.8;
  }

  .footer-distributed .footer-right {
      float: right;
      max-width: 300px;
      height: auto;
  }

  .footer-distributed .footer-right a {
      display: inline-block;
      width: 35px;
      font-size: 22px;
      color: #242a37;
      text-align: center;
      line-height: 35px;
  }

  @media (max-width: 700px) {
      .footer-distributed .footer-left, .footer-distributed .footer-right {
          text-align: center;
      }
      .footer-distributed .footer-right {
          float: none;
          margin: 0 auto 20px;
      }
      .footer-distributed .footer-left p.footer-links {
          line-height: 1.8;
      }
      .footer-distributed p.footer-links b {
          display: block;
      }
  }
